<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Khephren</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>kprn</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>metamask</string>
			<string>pillarwallet</string>
			<string>imtokenv2</string>
			<string>tpoutside</string>
			<string>huobiwallet</string>
			<string>coolwallet</string>
			<string>bitkeep</string>
			<string>celowallet</string>
			<string>bitpie</string>
			<string>archipage</string>
			<string>yitoken</string>
			<string>abt</string>
			<string>gdwalletwc</string>
			<string>airgap-wallet</string>
			<string>halodefiwallet</string>
			<string>krystalwallet</string>
			<string>bhcwallet</string>
			<string>wallet3</string>
			<string>bitcoincom</string>
			<string>dfwallet</string>
			<string>goldbit</string>
			<string>celo</string>
			<string>uvtoken</string>
			<string>wattwallet</string>
			<string>frontier</string>
			<string>ancrypto</string>
			<string>ttmwalletapp</string>
			<string>thorwallet</string>
			<string>okex</string>
			<string>dentacoin-wallet</string>
			<string>helix-id</string>
			<string>talkapp</string>
			<string>zeluswallet</string>
			<string>cryptobrowser</string>
			<string>abra</string>
			<string>paybolt</string>
			<string>wc</string>
			<string>https</string>
			<string>*/*</string>
			<string>intent</string>
		</array>
	</dict>
</plist>